---
layout: page
title: About
permalink: /about/
---

Welcome to **The Hot Mess**.

Still tripping. Still forgiven. Still showing up.

This is a space for stories about coffee, community, faith, and the beautiful disaster of showing up every day even when you don't have it together.

Written by Rena LeeAnn (and friends), from a little coffee shop in northern Indiana that probably shouldn't still be open but somehow is.
